In [2]:
import pandas as pd

## Preprocess the short data
Retrieve those that only contains depressed data

In [6]:
df_short = pd.read_csv('./data/tweets_combined.csv')
df_short.head()

   Unnamed: 0                                              tweet  target
0           0  Today in Selfcare: beauty &amp; laughs Kung Fu...       0
1           1  I get to spend New Year's home again alone and...       1
2           2  Depressed and lonely /: Stuck in a deep, never...       1
3           3  If this is your response to someone saying the...       0
4           4  Apparently you get a free pass just by mention...       0

In [7]:
# drop unnamed column
df_short = df_short.drop(labels='Unnamed: 0', axis=1)
df_short

                                                  tweet  target
0     Today in Selfcare: beauty &amp; laughs Kung Fu...       0
1     I get to spend New Year's home again alone and...       1
2     Depressed and lonely /: Stuck in a deep, never...       1
3     If this is your response to someone saying the...       0
4     Apparently you get a free pass just by mention...       0
...                                                 ...     ...
3195  May the new year abound in Hâ€™s: Health, Hope, ...       0
3196                It is not a beautiful day as usual.       1
3197  Compact Metal Leaf Grinder with Four Layers  p...       0
3198  First Christmas in YEARS that I have to work. ...       0
3199  It's okay sus. Let that hurt go ðŸ¤— * that's me ...       0

[3200 rows x 2 columns]

In [8]:
# rename the column header for standardization
df_short = df_short.rename(columns={'tweet': 'Text', 'target': 'Label'})
df_short

                                                   Text  Label
0     Today in Selfcare: beauty &amp; laughs Kung Fu...      0
1     I get to spend New Year's home again alone and...      1
2     Depressed and lonely /: Stuck in a deep, never...      1
3     If this is your response to someone saying the...      0
4     Apparently you get a free pass just by mention...      0
...                                                 ...    ...
3195  May the new year abound in Hâ€™s: Health, Hope, ...      0
3196                It is not a beautiful day as usual.      1
3197  Compact Metal Leaf Grinder with Four Layers  p...      0
3198  First Christmas in YEARS that I have to work. ...      0
3199  It's okay sus. Let that hurt go ðŸ¤— * that's me ...      0

[3200 rows x 2 columns]

In [9]:
# extract short text data (mixed)
df_short.to_csv('./data/short_text.csv', index=False)

In [5]:
# extract only the depressed data
df_short_dep = df_short[df_short['Label'] == 1]
df_short_dep

                                                   Text  Label
1     I get to spend New Year's home again alone and...      1
2     Depressed and lonely /: Stuck in a deep, never...      1
6     Learning to pretend to have a good time had be...      1
9     So far he stop texting meâ€¦after I said somethi...      1
11    *sigh* ???? I haven't cried so muchâ€¦I'm in so ...      1
...                                                 ...    ...
3184  I am going to try and get some sleep. Not sure...      1
3185  I canâ€™t Take it ????    pic.twitter.com/vXqNH9...      1
3187  Fuck surgery. Fuck laying here watching days p...      1
3194  Depression is like wearing a one of those weig...      1
3196                It is not a beautiful day as usual.      1

[843 rows x 2 columns]

In [6]:
# export the short depressed-only dataset
df_short_dep.to_csv('./data/short_text_only_depressed.csv', index=False)

## Preprocess toy data

In [3]:
df_toy = pd.read_csv('./data/sentiment_tweets3.csv')
df_toy

       Unnamed: 0                                            message  label
0             106  just had a real good moment. i missssssssss hi...      0
1             217         is reading manga  http://plurk.com/p/mzp1e      0
2             220  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3             288  @lapcat Need to send 'em to my accountant tomo...      0
4             540      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0
...           ...                                                ...    ...
10309      802309  No Depression by G Herbo is my mood from now o...      1
10310      802310  What do you do when depression succumbs the br...      1
10311      802311  Ketamine Nasal Spray Shows Promise Against Dep...      1
10312      802312  dont mistake a bad day with depression! everyo...      1
10313      802313                                   depression sucks      1

[10314 rows x 3 columns]

In [4]:
# drop unnamed column
df_toy = df_toy.drop(labels='Unnamed: 0', axis=1)
# rename column
df_toy = df_toy.rename(columns={'message': 'Text', 'label': 'Label'})
df_toy.head()

                                                Text  Label
0  just had a real good moment. i missssssssss hi...      0
1         is reading manga  http://plurk.com/p/mzp1e      0
2  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3  @lapcat Need to send 'em to my accountant tomo...      0
4      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [5]:
df_toy.to_csv('./data/toy_data.csv', index=False)